<app-navbar></app-navbar>
<div id="setting-div">
  <h2>Settings</h2>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title style="color: white;">
          Settings
        </mat-panel-title>
        <mat-panel-description>
          Change Password, General settings
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="content">
        <table>
          <tr>
            <th id="table_left">Setting Name</th>
            <th>Action</th>
          </tr>
          <tr>
            <td>Basic Settings</td>
            <td><a routerLink="basic-settings">Edit</a></td>
          </tr>
          <tr>
            <td>Change Password</td>
            <td><a routerLink="change-password">Change</a></td>
          </tr>
          <tr>
            <td>Details</td>
            <td><a routerLink="update-details">Edit</a></td>
          </tr>

        </table>


      </div>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title style="color: white;">
          Email Templates
        </mat-panel-title>
        <mat-panel-description>
          View/Edit templates
        </mat-panel-description>
      </mat-expansion-panel-header>


      <div class="content">
        <table>
          <tr>
            <th id="table_left">Template Name</th>
            <th>Edit</th>
          </tr>
          @for (template of templateData; track template.et_id) {

          <tr>
            <td>{{template.et_name}}</td>
            <td><a routerLink="email-template/{{template.et_slug}}">Link</a></td>
          </tr>
          }

        </table>


      </div>
    </mat-expansion-panel>



  </mat-accordion>
</div>
