<app-navbar></app-navbar>
<div id="setting-div">
  <h2>Change Password</h2>
  <div id="change-pwd-div">

    <form [formGroup]="userform" (ngSubmit)="userform.valid && changePassword()">

      <mat-form-field class="example-full-width">
        <mat-label>Old Password</mat-label>
        <input type="password" matInput [type]="hide ? 'text' : 'password'" formControlName="oldPassword"
          placeholder="********">
        <button class="eye-btn" type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if(userform.get('oldPassword')?.hasError('required')){
        <mat-error>Old Password is <strong>required</strong></mat-error>
        }

      </mat-form-field>


      <br>
      <mat-form-field class="example-full-width">
        <mat-label>New Password</mat-label>
        <input type="password" matInput [type]="hide2 ? 'text' : 'password'" formControlName="newPassword"
          placeholder="*********">
        <button class="eye-btn" type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>


        @if(userform.get('newPassword')?.hasError('required')){
        <mat-error>New password is <strong>required</strong></mat-error>
        }@else if (userform.get('newPassword')?.hasError('pattern')) {
          <mat-error>Password must contain 8 chars,a special, upper, lower and a digit</mat-error>
          }
      </mat-form-field>
      <br>


      <button type="submit" id="btn">Change</button>
    </form>
  </div>
</div>
